.product{
    display:flex;
    margin:5px 10px 0px 0px ;
    padding-bottom:20px;
    border-bottom: 1px solid lightgray;

}
.product-name{
    color: blue;
    font-weight: 400;
    margin-top: 30px;
}
