.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: black;
    line-height: 40px;

}
nav a{
    text-decoration:none;
    color: white;
    margin: 10px;
    padding:9px;
}

nav a:hover{
    background-color: gray;
}
 